[submodule "SimpleLLama"]
	path = SimpleLLama
	url = https://github.com/HCL-Hbot/SimpleLLama.git
[submodule "SimpleWhisper"]
	path = SimpleWhisper
	url = https://github.com/HCL-Hbot/SimpleWhisper.git
[submodule "tts-node"]
	path = tts-node
	url = https://github.com/HCL-Hbot/tts-node.git
[submodule "SimpleBotLogic"]
	path = SimpleBotLogic
	url = https://github.com/HCL-Hbot/SimpleBotLogic.git
[submodule "ROS2_OLDDisplay_Node"]
	path = ROS2_OLDDisplay_Node
	url = https://github.com/HCL-Hbot/ROS2_OLDDisplay_Node.git
